---
import Input from "~/components/Input.astro";
import { db } from "~/contacts.ts";
import Layout from "../_layout.astro";
import Label from "~/components/Label.astro";
import A from "~/components/A.astro";
import Rows from "./_rows.astro";
import LoadingIndicator from "~/components/LoadingIndicator.astro";

const query = Astro.url.searchParams.get("q");
const page = Number(Astro.url.searchParams.get("page")) || 1;
const results = query
	? await db.search({
			query,
			page,
	  })
	: await db.all(page);

const nextPageUrl = new URL(Astro.url);
nextPageUrl.searchParams.set("page", String(page + 1));

const prevPageUrl = new URL(Astro.url);
prevPageUrl.searchParams.set("page", String(page - 1));

const isActiveSearch = Astro.request.headers.get("HX-Trigger") === "search";
---

{
	isActiveSearch ? (
		<Rows
			contacts={results.contacts}
			nextPageUrl={results.hasMore ? nextPageUrl.toString() : undefined}
		/>
	) : (
		<Layout>
			<main class="flex flex-col items-start gap-8">
				<form
					action="/contacts"
					method="get"
					class="flex items-center gap-3"
				>
					<Label for="search" class="sr-only">
						Search
					</Label>
					<Input
						id="search"
						hx-get="/contacts"
						hx-trigger="search, keyup changed delay:200ms"
						hx-target="tbody"
						hx-push-url="true"
						hx-indicator="#search-indicator"
						name="q"
						placeholder="Search"
						type="search"
						value={query}
					/>
					<LoadingIndicator id="search-indicator" />
				</form>
				<table class="w-full max-w-full border-collapse divide-y indent-0">
					<thead>
						<tr>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								ID
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								First
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Last
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Email
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Phone
							</th>
							<th />
						</tr>
					</thead>
					<tbody class="divide-y">
						<Rows
							contacts={results.contacts}
							nextPageUrl={
								results.hasMore
									? nextPageUrl.toString()
									: undefined
							}
						/>
					</tbody>
				</table>
				<div class="flex items-center gap-3">
					<A href="/contacts/new">Add Contact</A>
					<span
						class="text-xs text-lo-contrast"
						hx-get="/contacts/count"
						hx-trigger="revealed"
					>
						<LoadingIndicator />
					</span>
				</div>
			</main>
		</Layout>
	)
}
