---
import Input from "~/components/Input.astro";
import { db } from "~/contacts.ts";
import Layout from "../_layout.astro";
import Label from "~/components/Label.astro";
import A from "~/components/A.astro";
import Rows from "./_rows.astro";

const query = Astro.url.searchParams.get("q");
const page = Number(Astro.url.searchParams.get("page")) || 1;
const results = query
	? await db.search({
			query,
			page,
	  })
	: await db.all(page);

const nextPageUrl = new URL(Astro.url);
nextPageUrl.searchParams.set("page", String(page + 1));

const prevPageUrl = new URL(Astro.url);
prevPageUrl.searchParams.set("page", String(page - 1));

const isActiveSearch = Astro.request.headers.get("HX-Trigger") === "search";
---

{
	isActiveSearch ? (
		<Rows
			contacts={results.contacts}
			nextPageUrl={results.hasMore ? nextPageUrl.toString() : undefined}
		/>
	) : (
		<Layout>
			<main class="flex flex-col items-start gap-8">
				<form
					action="/contacts"
					method="get"
					class="flex items-center gap-3"
				>
					<Label for="search" class="sr-only">
						Search
					</Label>
					<Input
						id="search"
						hx-get="/contacts"
						hx-trigger="search, keyup changed delay:200ms"
						hx-target="tbody"
						hx-push-url="true"
						hx-indicator="#search-indicator"
						name="q"
						placeholder="Search"
						type="search"
						value={query}
					/>
					<span
						id="search-indicator"
						class="htmx-indicator pointer-events-none flex items-center justify-center"
					>
						<span class="sr-only">Request in flight...</span>
						<svg
							aria-hidden="true"
							class="h-5 w-5 animate-spin text-white"
							fill="none"
							viewBox="0 0 24 24"
						>
							<circle
								class="opacity-25"
								cx="12"
								cy="12"
								r="10"
								stroke="currentColor"
								stroke-width="4"
							/>
							<path
								class="opacity-75"
								fill="currentColor"
								d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
							/>
						</svg>
					</span>
				</form>
				<table class="w-full max-w-full border-collapse divide-y indent-0">
					<thead>
						<tr>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								ID
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								First
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Last
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Email
							</th>
							<th
								class="px-3 py-3.5 text-left text-sm font-semibold first-of-type:pl-0"
								scope="col"
							>
								Phone
							</th>
							<th />
						</tr>
					</thead>
					<tbody class="divide-y">
						<Rows
							contacts={results.contacts}
							nextPageUrl={
								results.hasMore
									? nextPageUrl.toString()
									: undefined
							}
						/>
					</tbody>
				</table>
				<A href="/contacts/new">Add Contact</A>
			</main>
		</Layout>
	)
}
