---
import { flash } from "~/flash";
import "~/tailwind.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<title>Contact.app</title>
		<style>
			html {
				color-scheme: light dark;
			}
			@media (prefers-color-scheme: dark) {
				html {
					color-scheme: dark light;
				}
			}
		</style>
		<script src="htmx.org"></script>
	</head>
	<body
		class="bg-white font-sans text-slate-12 antialiased dark:bg-slate-1"
		hx-boost="true"
	>
		<div class="px-6 py-12">
			<slot />
		</div>
		<div
			aria-label="Notifications"
			class="pointer-events-none"
			role="region"
		>
			<ol
				id="notifications"
				class="fixed inset-x-1/2 bottom-0 z-[9999] m-0 flex w-[390px] max-w-full -translate-x-1/2 flex-col gap-2 p-5 outline-none"
			>
				{
					flash.messages.map((message) => (
						<li
							aria-atomic="true"
							aria-live="off"
							class="rounded-md bg-white p-4 text-sm text-hi-contrast shadow ring-1 ring-slate-6 dark:bg-slate-3"
							data-notification
							role="status"
						>
							{message.message}
						</li>
					))
				}
			</ol>
			<script>
				function autoRemoveNotifications() {
					const notifications = document.querySelectorAll(
						"[data-notification]",
					);
					for (let i = 0; i < notifications.length; i++) {
						const notification = notifications[i];
						if (!notification) {
							continue;
						}

						setTimeout(() => {
							notification.remove();
						}, 5000);
					}
				}

				document.addEventListener("htmx:afterSwap", () => {
					autoRemoveNotifications();
				});

				autoRemoveNotifications();
			</script>
		</div>
	</body>
</html>
