---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

export type Props = HTMLAttributes<"button">;

const { class: className, ...props } = Astro.props;
---

<button
	class={twMerge(
		[
			"bg-grass-2",
			"text-grass-11",
			"rounded",
			"text-sm",
			"font-medium",
			"leading-6",
			"cursor-default",
			"ring-1",
			"ring-grass-7",
			"px-3.5",
			"h-8",
			"inline-flex",
			"items-center",
			"justify-center",
			"shrink-0",
			"tabular-nums",
			"outline-none",
			"hover:ring-grass-8",
			"focus:ring-2",
			"focus:ring-grass-8",
			"active:bg-grass-3",
			"active:ring-grass-8",
		],
		className,
	)}
	{...props}
>
	<slot />
</button>
