---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

export type Props = HTMLAttributes<"label">;

const { class: className, ...props } = Astro.props;
---

<label
	class={twMerge(
		"text-hi-contrast block text-sm font-medium leading-6",
		className,
	)}
	{...props}
>
	<slot />
</label>
